/vendor/
/node_modules/
/uploads/
/input/*
!/input/.gitkeep
/cache/
/logs/

.env
config.local.php
config/db.php
config/config.php
config/tg_config.php

*.log
*.tmp
.DS_Store
Thumbs.db
.idea/
.vscode/
